html {
    height: 100%;
}

body {
    margin: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: white;
    background: linear-gradient(0deg,
            #07153F,
            #020B2D 50%,
            #000814 100%);
    background-repeat: no-repeat;
}

.MainBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #00051e;
    width: 70vw;
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-radius: 22px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.HeadBox {
    img {
        width: 40px;
        border-radius: 50%;
    }

    h2 {
        margin: 0;
        padding: 5px;
        font-size: 15px;
        font-weight: 2;
        color: rgb(76, 0, 255);
        letter-spacing: 3px;
    }
}

.ClockBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* line-height: 1; */

    .Gap {
        transform: translateY(-12px);
    }


    h1 {
        font-size: 120px;
        margin: 0;
    }

    #Hour {
        color: rgba(30, 145, 255, 1.0);
    }

    #Minutes {
        color: rgba(30, 145, 255, 0.5);

    }

    #Seconds {
        color: rgba(30, 145, 255, 0.6);
    }
}

.CalenderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;

    img {
        width: 25px;
    }

    p {
        color: rgba(255, 255, 255, 0.5);
        word-spacing: 5px;
        margin: 0;
    }
}

.CalenderBox::before,
.CalenderBox::after {
    content: "";
    width: 150px;
    height: 1px;
    /* background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.5),
            transparent); */
    background: rgba(255, 255, 255, 0.3);
}


/* .Divider {
    width: 50%;
    height: 1px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.3);

} */

.FormatBox {
    p {
        margin: 0;
        color: rgba(255, 255, 255, 0.5);
        padding: 10px;
    }

    .FormatOptions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;

        img {
            width: 20px;
        }

        .FormatOption {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 10px 15px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;

            p {
                padding: 0;
                font-size: smaller;
                font-weight: bold;
            }
        }

    }

}

.FormatOption:focus {
    background: dodgerblue;
    border: 2px solid white;

    P {
        color: white;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}