* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #0b1329;
    --bg-main: #0f172a;
    --bg-card: #1e293b;
    --border-main: transparent;
    --border-card: #334155;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --text-accent: #38bdf8;
    --header-gradient: linear-gradient(135deg, #06b6d4, #4f46e5);
    --btn-gradient: linear-gradient(135deg, #06b6d4, #4f46e5);
    --ring-bg: #1e293b;
    --shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    --bg-color: #0f172a;
}

body[data-theme="light"] {
    ---bg-body: #f4f7fc;
    --bg-main: #ffffff;
    --bg-card: #f8fafc;
    --border-main: transparent;
    --border-card: #e2e8f0;
    --text-primary: #1e293b;
    --text-secondary: #64748b;
    --text-accent: #2563eb;
    --header-gradient: linear-gradient(135deg, #3b82f6, #2563eb);
    --btn-gradient: linear-gradient(135deg, #3b82f6, #2563eb);
    --ring-bg: #ffffff;
    --shadow: 0 20px 40px rgba(0, 0, 0, 0.04);
    --bg-color: #dfdada89;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--bg-color);
    transition: all 0.3s ease;

    padding: 30px;
    min-height: 100vh;

    user-select: none;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainBody {
    background: var(--bg-main);
    box-shadow: var(--shadow);

    border: 1px solid var(--border-card);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75vw;
}

.headBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;

    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    background: var(--header-gradient);

    img {
        width: 60px;
    }


    h1 {
        font-family: "Bebas Neue", sans-serif;
        color: white;

        letter-spacing: 2px;
        text-align: center;
    }

    h3 {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.9);
    }
}

.mainContainer {
    width: 100%;
    background: transparent;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
    height: 500px;

    box-shadow: var(--shadow);
    background: var(--bg-card);

    border: 1px solid var(--border-card);
    border-radius: 20px;

    transition: all .3s ease;

    padding: 20px;
    margin: 20px;
}

.cardHeading {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-start;


    img {
        width: 35px;
    }

    p {
        font-size: 1.8rem;
        font-weight: 600;

        color: var(--text-accent);
    }
}

.card:hover {
    transform: scale(1.02);
}

.dvider {
    border-top: 1px solid var(--border-card);
    width: 100%;
    margin: 10px 0px;
}

.BMIinput {
    margin: 10px;

    p {
        color: var(--text-secondary);
        font-size: 0.95rem;
        padding: 5px 0px;
        margin: 5px 0;
    }
}

label {
    font-size: 1.4rem;
    font-weight: 600;

    color: var(--text-primary);

    margin: 10px 0;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    transition: all 0.3s ease;

    margin: 15px 0 5px 0;
    padding: 8px;

    border-radius: 12px;
    border: 1px solid var(--border-card);

    background: var(--bg-main);

    img {
        width: 20px;
    }

    input {
        width: 200px;
        border: none;
        outline: none;

        font-size: 1rem;

        background: transparent;

        color: var(--text-primary);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input::placeholder {
        color: var(--text-secondary);
        opacity: 0.6;
    }

    .dropDownMenu {
        border: none;
        background: rgba(98, 143, 240, 0.224);
        color: var(--text-accent);
        width: 80px;
        padding: 8px;

        font-size: small;
        font-weight: 700;

        outline: none;

        cursor: pointer;
        border-radius: 10px;
    }

    .options {
        background: var(--bg-main);
        color: var(--text-primary);
    }
}

.inputContainer:focus-within {
    border-color: var(--text-accent);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

#calculateBMI {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 80%;

    background: var(--btn-gradient);

    border: none;
    border-radius: 14px;

    color: white;

    font-size: 1rem;
    font-weight: 600;

    padding: 10px;

    cursor: pointer;

    transition: all 0.3s ease;

    img {
        width: 25px;
    }
}

#calculateBMI:hover {
    opacity: 0.95;
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.25);
}

#calculateBMI:active {
    transform: scale(0.98);
}

.information {
    display: flex;
    align-items: center;
    gap: 15px;

    margin: 25px 0 10px 0;
    padding: 10px;

    border-radius: 15px;

    border: 1px solid var(--border-card);
    background: var(--bg-card);

    img {
        width: 20px;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-secondary);
    }
}

.BMIRing {
    width: 130px;
    height: 130px;

    border-radius: 50%;

    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: conic-gradient(#f4b400 0deg 15deg,
            transparent 15deg 20deg,

            #f4b400 20deg 35deg,
            transparent 35deg 40deg,

            #f4b400 40deg 55deg,
            transparent 55deg 60deg,

            #f4b400 60deg 75deg,
            transparent 75deg 80deg,

            #ff5722 80deg 95deg,
            transparent 95deg 100deg,

            #ff5722 100deg 115deg,
            transparent 115deg 120deg,

            #ff5722 120deg 135deg,
            transparent 135deg 140deg,

            #ff5722 140deg 155deg,
            transparent 155deg 160deg,

            transparent 160deg 200deg,

            #4285f4 200deg 215deg,
            transparent 215deg 220deg,

            #4285f4 220deg 235deg,
            transparent 235deg 240deg,

            #4285f4 240deg 255deg,
            transparent 255deg 260deg,

            #4285f4 260deg 275deg,
            transparent 275deg 280deg,

            #2ecc71 280deg 295deg,
            transparent 295deg 300deg,

            #2ecc71 300deg 315deg,
            transparent 315deg 320deg,

            #2ecc71 320deg 335deg,
            transparent 335deg 340deg,

            #2ecc71 340deg 355deg,
            transparent 355deg 360deg);
}

.innerCircle {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    background: var(--ring-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-primary);
    }

    p {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--text-secondary);
    }
}

.result {

    h2 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-secondary);
    }

    h3 {
        padding: 5px;
        text-align: center;
        font-size: xx-large;
        color: var(--text-accent);
    }
}

.rangeGuide {

    border: 1px solid var(--border-card);
    border-radius: 20px;

    padding: 10px;
    text-align: center;

    background: var(--bg-main);

    p:first-child {
        font-size: large;
        font-weight: 600;
        color: var(--text-accent);
    }
}

.categories {
    margin-top: 10px;
}

.range {
    display: grid;
    text-align: left;

    grid-template-columns: 20px 1fr 1fr;
    gap: 12px;

    align-items: center;
    padding: 0 10px;
    margin-top: 8px;

    color: var(--text-primary);
}

.range div {
    width: 10px;
    height: 10px;

    border-radius: 50%;
}

.underweight {
    background: #3B82F6;
}

.normal {
    background: #22C55E;
}

.overweight {
    background: #FACC15;
}

.obese {
    background: #F97316;
}

.FooterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.suggestion {
    padding: 15px;
    margin: 5px 0 10px 0;

    display: flex;
    align-items: center;
    gap: 15px;

    background: var(--bg-card);
    color: var(--text-secondary);

    border: 1px solid var(--bg-card);
    border-radius: 20px;

    img {
        width: 20px;
    }
}

.ThemeBox {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.ThemeButton {
    padding: 10px 22px;
    border: none;
    border-radius: 14px;
    cursor: pointer;

    background: var(--bg-card);

    font-weight: 600;
    transition: 0.3s;

    display: flex;
    align-items: center;
    gap: 5px;

    img {
        width: 20px;
    }
}

.ThemeButton:hover {
    transform: scale(1.05);
}